<!--Footer-->
<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">

        <p id="copyright" class="col-2">{{copyright.copyrighttex}} <a href="{{copyright.developerurl}}">{{copyright.developername}}</a></p>

        <!--Social Icons in Footer-->
        <div class="col-2 social-icons">
             <!--Adding social component starts here -->
             <app-social></app-social>
        </div>
        <!--End of Social Icons in Footer-->
    </div>
</footer>
<!--End of Footer-->
